.mainContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: 'Unbounded';
  font-size: 30px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subList {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px 0;
}

.description {
  margin-top: 10px;
  line-height: 1.5;
}

.item {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.listTitle {
  font-weight: 700;
  color: var(--main-blue);
}

.link {
  text-decoration: underline;
  color: var(--main-blue);
}

@media (min-width: 768px) {
  .mainContainer {
    padding: 40px;
  }
}
